api/app/Config/database.php
api/app/Config/mcus.php
api/app/temp/

*.eot
*.ttf
mostcoupon/app/Config/mcus.php
mostcoupon/app/temp/

portal/app/Config/database.php
portal/app/Config/mcus.php
portal/app/temp/

.idea/*

/bogo/blog/wp-config.php
/bogo/blog/wp-content/uploads/*
/bogo/blog/.htaccess

